body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #ffffff;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

button {
    cursor: pointer;
    border: none;
}

footer {
    margin: 0 auto;
}

section {
    max-width: 100%;
    padding: 96px 0;
}

.container {
    min-width: 288px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header */

.header-top {
    position: relative;
    padding: 15px 0;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.navi {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: block;
    margin-right: 76px;
}

.logo span {
    color: #2e2f42;
}

.menu-button {
    display: block;
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: transparent;
    border: none;
}

.menu-list {
    gap: 40px;

    display: none;
}

.menu-item {
    display: block;
    padding: 24px 0;
    color: #2e2f42;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item:hover,
.menu-item:focus {
    color: #404bbf;
}

.active-link {
    position: relative;
    color: #404bbf;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.active-link::after {
    position: absolute;
    width: 100%;
    height: 4px;
    content: "";
    bottom: -1px;
    left: 0;
    border-radius: 2px;
    background-color: #404bbf;
}

.address {
    font-style: normal;

    display: none;
}

.adress-item {
    color: #434455;
    font-family: inherit;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-item:hover,
.adress-item:focus {
    color: #404bbf;
}

.adress-list {
    display: flex;
    gap: 40px;
    margin-left: auto;
}

.modal-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 72px 16px 40px 16px;
    background-color: #ffffff;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-close-menu {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-menu:hover,
.modal-close-menu:hover,
.modal-close-menu:focus,
.modal-close-menu:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.modal-navi {
    margin-bottom: 24px;
}

.modal-menu-item-color {
    color: #404bbf;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.modal-menu-item {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.modal-adress-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.modal-adress-item-color {
    color: #404bbf;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.modal-adress-item {
    color: #434455;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.modal-address {
    margin-bottom: 48px;
}

/* Main */

.section-main {
    background: #2e2f42;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/background/bg-photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    padding: 72px 0;
}

.main-title {
    max-width: 288px;
    color: #ffffff;
    font-family: inherit;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0 auto;
}

.button {
    display: block;
    background-color: #4d5ae5;
    color: #ffffff;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto;
    margin-top: 48px;
    min-width: 169px;
    height: 56px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background-color: #404bbf;
    outline: transparent;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 50;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.callback-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 100;
    margin: 0 auto;
    background-color: #fcfcfc;
    width: 288px;
    min-height: 584px;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.close-icon:hover,
.modal-close:focus,
.close-icon:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.form-box {
    margin-bottom: 8px;
}

.form-label {
    position: relative;
    display: block;
    color: #8e8f99;
    font-family: inherit;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.position-svg {
    position: relative;
}

.form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    border-color: #4d5ae5;
}

.input-svg-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus+svg {
    fill: #4d5ae5;
}

.policy {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.48px;
}

.policy-link {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.48px;
    text-decoration-line: underline;
}

.form-button {
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    margin: 0 auto;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
    background-color: #404bbf;
}

.callback-checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

.textarea-box {
    margin-bottom: 16px;
}

.textarea-input {
    display: block;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    resize: none;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-input:focus {
    border-color: #4d5ae5;
}

.textarea-input::placeholder {
    font-family: inherit;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.48px;
    color: rgba(46, 47, 66, 0.4);
}

.policy-link {
    color: #4d5ae5;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
}

.checkbox-icon {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 8px;
}

.checkbox-input:checked+.checkbox-policy>.checkbox-icon {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.checkbox-policy {
    color: #8e8f99;
    font-size: 12px;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.04em;
}

.form-title {
    color: #2e2f42;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
}

/* Priorities */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container-list {
    margin: 0 auto;
}

.background-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4fd;
    width: 264px;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
    display: none;
}

.priorities-list {
    color: #2e2f42;
    font-family: inherit;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
    text-transform: capitalize;
}

.list-one {
    display: flex;
    flex-direction: column;
    gap: 72px;
    max-width: 288px;
    margin: 0 auto;
}

.paragraph {
    color: #434455;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Our team */

.section-team {
    background-color: #f4f4fd;
    margin: 0 auto;
    width: 100%;
}

.list-three {
    display: flex;
    flex-direction: column;
    gap: 72px;
    max-width: 320px;
    align-items: center;
    margin: 0 auto;
}

.team-image {
    background-color: #ffffff;
    cursor: pointer;
    overflow: hidden;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    max-width: 264px;
}

.team-section {
    padding: 32px 0;
}

.main-title-list {
    color: #2e2f42;
    font-family: inherit;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.section-title-list {
    color: #2e2f42;
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    text-align: center;
    margin-bottom: 8px;
}

.paragraph-next {
    color: #434455;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-align: center;
    margin-bottom: 8px;
}

.team-icon {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-icon-svg {
    width: 16px;
    height: 16px;
    fill: #f4f4fd;
}

.svg-list {
    width: 40px;
    height: 40px;
}

.svg-list-link:hover,
.svg-list-link:focus {
    background-color: #404bbf;
    outline: transparent;
}

.svg-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    width: 40px;
    height: 40px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Portfolio */

.portfolio-title-list {
    color: #2e2f42;
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.paragraph-portfolio {
    color: #434455;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.box-list {
    cursor: pointer;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-box {
    position: relative;
    overflow: hidden;
}

.overlay {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #f4f4fd;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    background-color: #4d5ae5;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.box-list:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.box-list:hover .overlay {
    transform: translateY(0);
}

.portfolio-box {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin: 0 auto;
    max-width: 288px;
}

.portfolio-section {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

/* Footer */

.footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
}

.logo-footer {
    display: block;
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 17.5px;
    text-align: center;
}

.logo-footer-span {
    color: #f4f4fd;
}

.paragraph-footer {
    display: block;
    max-width: 264px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-media {
    text-align: center;
    margin-bottom: 16px;
}

.footer-icon-list {
    display: flex;
    gap: 16px;
}

.footer-svg {
    fill: #f4f4fd;
}

.footer-hover:hover,
.footer-hover:focus {
    background-color: #31d0aa;
}

.footer-input {
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    padding: 8px 16px;
    background-color: transparent;
    color: #ffffff;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-input::placeholder {
    color: #ffffff;
}

.footer-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.footer-button {
    padding: 8px 24px;
    max-width: 165px;
    display: flex;
    background-color: #4d5ae5;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover,
.footer-button:focus {
    background-color: #404bbf;
}

.footer-svg-icon {
    margin-left: 16px;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

